<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WeChat</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Archivo|Oswald" rel="stylesheet">
</head>
<body>
    <div class="main-layout">
        <h1>WeChat</h1>
        <h1 id="signinpls">Welcome! Please sign in or create an account.</h1>
        <button id="sign-out" name="signout">Sign Out</button>
        <div class="reg-main">
            <div class="regform">
                <h2>Create an account</h2>

                    <input type="text" id="name" name="name" placeholder="Full name" autocomplete="off" required>

                    <input type="text" id="username" name="username" placeholder="Username" autocomplete="off" required>

                    <input  type="text" id="email" name="email" placeholder="Email" autocomplete="off" required>

                    <input type="password" id="password" name="password" placeholder="Password" required>

                    <button id="sign-up" name="signup">Create your account</button>
            </div>
            <div class="login">
                <h2>Log in</h2>
                <input  type="text" id="sign-in-email" name="email" placeholder="Email"/>

                <input type="password" id="sign-in-password" name="password" placeholder="Password"/>

                <button id="sign-in" name="signin">Sign In</button>

            </div>
        </div>
        <span id="loginError"></span>
        <span id="regerror"></span>
    </div>
<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-database.js"></script>
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/index.js"></script>
</body>
</html>